#container{

    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    /* background-image: url('https://wallpapercave.com/dwp1x/wp10476149.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; */
 

}

#searchBar-filter-container{
   display: flex;
   justify-content: space-between;
   
}

#filter-modal{
    display:flex;
    position: absolute;
    width: 150px;
    border:3px solid #1976d2;
    right:0;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin-right: 100px;
    z-index: 100;
    margin-top: 2px;
}

@media screen and (max-width: 600px) {

    #container{

        padding-left: 20px;
        padding-right:20;
        padding-top: 30;
        min-width: 500px;
    
    }
    #filter-modal{
        margin-right: -140px;
    }
    
    
 }
