.table-container {
    margin-top: 2%;
    margin-left: 10px;
    margin-right: 10px;
  
}
p{
    font-family: 'Noto Serif'
}

thead {
    background: #EDEDED;
}

th {
    color: #858585 !important;
}

tr:nth-child(even) {
    background-color: #F9F9F9;
}

.tablRow:hover {
    background-color: #EDEDED;
}



 #footer-container {

    display: flex;
    margin-top: 20px;
    margin-bottom: 100px;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
   

 }
#animation{
    margin-left: 300px;
}
 #page-number-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
 }
 #row-text{
    font-family: 'Noto Serif';
font-style: normal;
font-weight: 400;
font-size: 16px;
 }
 #dropdown-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
 }

 @media screen and (max-width: 600px) {

    #footer-container {
        flex-direction: row;
        align-items: center;
    }
    #page-number-container {
        flex-direction:row-reverse;
    } 
    #dropdown-container{
        display: flex;
        flex-direction: column;
     }
    
 }
